.hidden {
    visibility: hidden;
}

button {
    cursor: pointer;
}

/* remove blue outline */
button:focus {
    outline: 0;
}

.burger-button {
    position: relative;
    height: 40px;
    width: 40px;
    display: block;
    z-index: 999;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    pointer-events: all;
    transition: transform .6s cubic-bezier(.165,.84,.44,1);
}

.burger-bar {
    background-color: var(--text);
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0px;
    height: 3px;
    width: auto;
    margin-top: -1px;
    transition: transform .6s cubic-bezier(.165,.84,.44,1),opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1);
}

.burger-bar--1 {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.burger-bar--2 {
    transform-origin: 100% 50%;
    transform: scaleX(.8);
}

.burger-button:hover .burger-bar--2 {
    transform: scaleX(1);
}

.no-touchevents .burger-bar--2:hover {
    transform: scaleX(1);
}

.burger-bar--3 {
    -webkit-transform: translateY(-15px);
    transform: translateY(15px);
}

#burger {
    display: none;
    height: 100%;
}
#burger.active {
    border: 2px solid var(--heavy);
    background: var(--off);
}

#burger.active .burger-button {
    transform: rotate(-180deg);
}

#burger.active .burger-bar {
    background-color: var(--text);
}

#burger.active .burger-bar--1 {
    transform: rotate(45deg)
}

#burger.active .burger-bar--2 {
    opacity: 0;
}

#burger.active .burger-bar--3 {
    transform: rotate(-45deg)
}
.mobile-menu {
    display: none;
}

/* ds extra */
#burgerCopy {
    /* display: none; */
    height: 100%;
}
#burgerCopy.active {
    border: 2px solid var(--heavy);
    background: var(--off);
}

#burgerCopy.active .burger-button {
    transform: rotate(-180deg);
}

#burgerCopy.active .burger-bar {
    background-color: var(--text);
}

#burgerCopy.active .burger-bar--1 {
    transform: rotate(45deg)
}

#burgerCopy.active .burger-bar--2 {
    opacity: 0;
}

#burgerCopy.active .burger-bar--3 {
    transform: rotate(-45deg)
}