/* multiselect */
.multiselect {
    border: 1px solid var(--heavy);
    background: var(--light);
    /* border-radius: var(--border-radius); */
}
.multiselect-placeholder {
    color: var(--heavy-op);
}
.multiselect-caret {
    background: var(--heavy-op);
}
.multiselect.is-active {
    box-shadow: var(--shadow);
}
.multiselect-dropdown {
    border: 1px solid var(--heavy);
    /* border-radius: 0 0 var(--border-radius) var(--border-radius); */
    background: var(--light);
    /* overflow: hidden; */
    /* min-height: 310px; */
}
.multiselect-options {
    font-weight: 500;
    text-transform: lowercase;
    /* width: 100vw; */
    letter-spacing: 1px;
}
.multiselect-options .is-pointed {
    background: var(--heavy);
    color: var(--btn-text);
}
.multiselect-tag {
    background: var(--heavy);
    color: var(--btn-text);
    font-weight: 500;
}