/* multiselect */
.multiselect {
    border: 2px solid var(--heavy);
    background: var(--light);
    /* border-radius: var(--border-radius); */
    z-index: 1; 
    max-width: 600px;
    transition: var(--transition-faster);
}
.multiselect-wrapper {
    height: 50px;
}
.multiselect:hover {
    background-color: var(--off);
    transform: translate(3px, -3px);
    box-shadow: -3px 3px var(--heavy) ;
    border-color: var(--text);
}
.multiselect-placeholder {
    color: var(--text);
    font-weight: 600;
}
.multiselect-caret {
    background: var(--heavy-op);
}
.multiselect.is-active {
    background-color: var(--off);
    transform: translate(3px, -3px);
    box-shadow: -3px 3px var(--heavy) ;
    border-color: var(--text);
}
.multiselect-dropdown {
    border: 2px solid var(--text);
    box-shadow: -3px 3px var(--heavy);
    /* border-radius: 0 0 var(--border-radius) var(--border-radius); */
    background: var(--light);
    /* overflow: hidden; */
    /* min-height: 310px; */
}
.multiselect-options {
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 1px;
    /* width: 100vw; */
    letter-spacing: 1px;
}
.multiselect-option {
    transition: var(--transition-fastest);
    border: 1px solid var(--light);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.multiselect-options .is-pointed {
    background: var(--heavy);
    border: 1px solid var(--text);
    color: var(--light);
}
.multiselect-tag {
    background: var(--heavy);
    color: var(--light);
    border: 1px solid var(--text);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: default;
}
.multiselect-tag-remove {
    border: 1px solid var(--heavy);
    transition: var(--transition-fastest);
    cursor: pointer;
}
.multiselect-tag-remove:hover {
    background: var(--text);
    border-color: var(--light);
    color: var(--light);

}