/* tab router links */
.link_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 16px;
  background: var(--light);
  border-right: 1px solid var(--off);
  /* width: 120px; */
  width: 80px;
  height: 100vh;
}
.links {
  z-index: 1000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  /* width: 100%; */
  max-width: 960px;
  /* transition: var(--transition); */
}

.nav-link_text {
  height: 40%;
  opacity: 0;
  transition: var(--transition);
  overflow: hidden;
  font-weight: 600;
}
.link-btn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border: 2px solid var(--light);
  background: var(--light);
  color: var(--heavy);
  transition: var(--transition-faster);
  /* padding: 15px 5px; */
  padding: 7px 5px;
  border-radius: 5px;
  /* width: 95px; */
  width: 75px;
  margin-top: 10px;
}
.link-btn svg {
  fill: var(--heavy);
  transition: var(--transition-faster);
  padding-bottom: 7px;
  width: 36px;
  transform: translate(0px, 14px)
}

/* hoverin' */

.link-btn svg {
  fill: var(--heavy);
  width: 32px;
  transform: translate(0, 0);
}
.link-btn .nav-link_text {
  height: 40%;
  opacity: 1;
  /* padding: 0 5px 5px; */
  color: var(--text);
}
.link-btn:hover, .router-link-hover {
  /* padding: 0 5px 5px; */
  color: var(--text);
  background: var(--off);
  transform: translate(3px,-3px);
  border-color: var(--nav-item_outline);
  box-shadow: -3px 3px 0 var(--nav-item_shadow);
  /* transform: translate(-1.5px, -1.5px); */
}
.link_focused, .router-link-exact-active {
  box-shadow: 0px 0px 0px var(--heavy);
  transform: translate(0, 0);
  background: var(--off);
  border-color: var(--heavy);
}
.link_focused,.router-link-exact-active .nav-link_text {
  height: 40%;
  opacity: 1;
  /* padding-top: 5px; */
}
.mobile-links {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vw;
}
.mobile-links .link-btn {
  display: flex;
  background: var(--light);
  padding: 25px;
  margin: 5px 0;
  flex-direction: row-reverse;
  width: 100%;
  border: 2px solid var(--light);
}
.mobile-links .nav-link_text {
  height: auto;
  padding: 3px 5px 5px 20px;
  opacity: 1;
  color: var(--text);
  fill: var(--heavy);
}
.mobile-links .link-btn svg {
  transform: translate(0, 0);
  fill: var(--heavy);
  width: 30px;
}
.mobile-links .link-btn:hover, .mobile-links .router-link-exact-active {
  color: var(--heavy);
  background-color: var(--off);
  border-radius: 10px;
  border-color: var(--heavy);
}
.mobile-links .link-btn:hover .nav-link_text, .mobile-links .router-link-exact-active .nav-link_text {
  height: auto;
  /* padding: 0 10px 0 0; */
  color: var(--text);
}
.mobile-links .link-btn:hover {
  border-color: var(--text);
}
.mobile-links .link-btn:hover svg, .mobile-links .router-link-exact-active svg {
  /* width: 40px; */
  fill: var(--heavy);
}
ul.sidebar-panel-nav > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding-bottom: 0.5em;
}
  
  