.slide-enter-active,
.slide-leave-active
{
    transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(-100%);
    transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
    background-color: var(--backdrop);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 99;
}

.sidebar-panel {
    overflow-y: auto;
    background-color: var(--light);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
    padding: 0 5px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sidebar-top {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar-panel .nav-logo_text h1, .sidebar-panel .nav-logo_text h5, .sidebar-panel .logo:hover .nav-logo_text h1, .sidebar-panel .logo:hover .nav-logo_text h5 {
    color: var(--heavy);
}