.theme-button {
    /* margin: 6px; */
    /* position: fixed; */
    /* top: 6px; */
    /* left: calc(50vw - calc(var(--element-size) * 0.65)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.theme-button h6{
  margin: 5px;
  text-align: center;
  color: var(--text);
  font-weight: 300;
}
.mobile-theme {
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
  justify-self: center;
}
.switch-checkbox {
  display: none;
}

.switch-label {
  align-items: center;
  background: var(--outline);
  /* border: calc(var(--element-size) * 0.02) solid var(--heavy); */
  border-radius: var(--element-size);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: calc(var(--element-size) * 0.4);
  height: calc(var(--element-size) * 1.15);
  position: relative;
  top: 0px;
  /* padding: calc(var(--element-size) * 0.0); */
  transition: var(--transition);
  justify-content: space-between;
  width: calc(var(--element-size) * 0.65);
  z-index: 1000000;
  margin: 0;
}
.switch-label svg {
    z-index: 1000001;
    padding: calc(var(--element-size) * 0.125);
}
.dark-icon {
  transition: var(--transition);
  fill: var(--heavy-op);
}
.light-icon {
  transition: var(--transition);
  fill: var(--heavy-op);
}

.switch-toggle {
  position: absolute;
  background-color: var(--light);
  border: 2px solid var(--heavy);
  border-radius: 50%;
  top: calc(var(--element-size) * -0.03);
  left: calc(var(--element-size) * 0.0);
  height: calc(var(--element-size) * 0.65);
  width: calc(var(--element-size) * 0.65);
  transform: translateX(0);
  transition: var(--transition);
}


.switch-toggle-checked {
  transition: all 0.3s ease-in-out 0s;
  transform: translateY(calc(var(--element-size) * 0.55)) !important;
}
.switch-label:hover .switch-toggle  {
  border-color: var(--nav-item_outline);
  background-color: var(--off);
}
.switch-label:hover .switch-toggle-checked {
  transition: all 0.3s ease-in-out 0s;
  border-color: var(--nav-item_outline);
}
/* .switch-label:hover .dark-icon, .switch-label:hover .light-icon {
  fill: var(--nav-item_outline);
} */